<div class="toolbar">
    <button ng-click="$ctrl.addRandomMarker()">ADD</button>
    <button ng-click="$ctrl.removeMarker()">Remove</button>

    <button ng-click="$ctrl.showDrawtool()">Show Tool</button>
    <button ng-click="$ctrl.hideDrawtool()">Hide Tool</button>

    <input type="checkbox" ng-model="$ctrl.calculEnabled" ng-change="$ctrl.calculateEnableChanged()">

    <div>
        <button ng-click="$ctrl.removeCircle()">RemoveCircle</button>
    </div>

    <div>
        <button ng-click="$ctrl.addDemoMarkers()">Add Markers</button>
    </div>
</div>

<div class="map-select-point">
    <baidu-map map-options="$ctrl.opts" loaded="$ctrl.mapLoaded(ctrl)" click="$ctrl.mapClick(e)">
        <!-- <overlay type="heatmap" options="$ctrl.heatmapOpts" dataset="$ctrl.dataSet"></overlay> -->

        <!-- <marker ng-repeat="marker in $ctrl.markers" point="marker.point" options="marker.options" initialized="$ctrl.markerInitialized(ctrl)"
            click="$ctrl.markerClick(e,marker,map,ctrl)"></marker>
        <polygon ng-repeat="item in $ctrl.polygonList" options="item.options" initialized="$ctrl.polygonInitialized(ctrl)" click="$ctrl.polygonClick(e)"
            rightclick="$ctrl.polygonRightClick(e)"></polygon> -->

        <!-- <drawtool options="$ctrl.dwartoolOptions" polygoncomplete="$ctrl.polygonComplete(polygon)" circlecomplete="$ctrl.circlecomplete(circle)"
            initialized="$ctrl.drawtoolInitialized(ctrl)"></drawtool> -->
        <marker-cluster options="$ctrl.markerClusterOptions" initialized="$ctrl.markerClusterInitialized(ctrl)" click="$ctrl.markerClusterClick(e,marker,map,data)">
            <!-- initialized="$ctrl.markerClusterInitialized(ctrl)" 
            click="$ctrl.markerClusterClick(e,marker,map,data)"
            rightclick="$ctrl.markerClusterRightClick(e,marker,map, data)"  items="$ctrl.markers" -->
        </marker-cluster>
        <scale-control options="$ctrl.scaleCtrlOptions"></scale-control>

        <navigation-control options="$ctrl.navCtrlOptions"></navigation-control>
    </baidu-map>
</div>