.baidu-map-instance {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.BMapLib_box.BMapLib_marker,
.BMapLib_box.BMapLib_circle,
.BMapLib_box.BMapLib_polyline,
.BMapLib_box.BMapLib_rectangle
{
    display: none;
}
